.shaded{
	background:$neutral-subtle-grey;
}
.negative{
  color: $neutral-white;
  h3{
    color:$neutral-white;
  }
}
.dark-bg{
  background:$brand-bg;
}

#subfoot{
	padding: 20px;
}

.docs{
	padding-top: 8px;
}

.newsletter{
  padding-top: 14px;
}

.wrapper + .wrapper {
  padding: 75px 20px 70px 20px;
}

.wrapper.flush{
  padding: 75px 20px 0px 20px;
}

.row.flush-image{
  img{
    position: relative;
    margin-bottom: -8px;
  }
}


.socbtns {
  display: inline-block;
  padding: 15px 0;
  overflow: hidden;

  li{
  	float: left;
  }

  li + li {
	  border-left: 1px solid #fff;
	}

}

#credits {
  text-align: left;

  .socbtns{
  	float:right;
  }
}

.featured {
  margin-bottom: 20px;
}



.navbar .logo {
  margin: 0;
  a {
	  float: left;
	  padding-left: 0;
	}
}


.mg-b-20{
  margin-bottom: 20px;
}

.mg-t-10{
  margin-top: 10px;
}

.mg-t-30{
  margin-top: 30px;
}

.p-b-50{
  padding-bottom: 50px;
}

.mg-b-50{
  margin-bottom: 50px;
}
.text-white{
  color: $neutral-white !important;
}

.m-l-5{
  margin-left: 5px;
}

.m-l-20{
  margin-left: 20px;
}

.right-align{
  float:right;
}

.row.no-padding{
  padding-left: 0;
  padding-right: 0;
  max-width: 1800px;
}