.deck-row{
	@include row();
	max-width: 100%;
}

.large-1{
	@include column(1);
}
.large-2{
	@include column(2);
}
.large-3{
	@include column(2.9);
}
.large-4{
	@include column(4);
}
.large-5{
	@include column(5);
}
.large-6{
	@include column(6);
}
.large-7{
	@include column(7);
}
.large-8{
	@include column(8);
}
.large-9{
	@include column(9);
}
.large-10{
	@include column(10);
}
.large-11{
	@include column(11);
}
.large-12{
	@include column(12);
}


.widget{
	background: $neutral-white;
	margin-bottom: 10px;
	.panel-header + .panel-body{
		padding: 0 15px 15px 15px;
	}

	&:hover{
		cursor: pointer;
		-webkit-box-shadow: 0 3px 8px rgba(0,0,0,0.1);
		box-shadow: 0 3px 8px rgba(0,0,0,0.1);
	}
}

.panel{
	height:100%;
	// min-height: 50px;
	position: relative;
	.panel-header{
		padding: 15px 15px 0px 15px;
		position: absolute;
		top: 0;
		right: 0;
		z-index: 10;
		.panel-title{
			@include font-size(14px);
			font-weight: bold;
			text-transform: uppercase;
		}
	}

	.panel-controls{
		float:right;
		line-height: 0.5;
		ul{
			margin: 0;
			padding: 0;
		}
		li{
			@include font-size(10px);
			display: inline-block;
			padding-left: 3px;
		}
	}

	.panel-header.builder{
		padding: 0 15px;
		text-align: center;
	}

	.panel-body{
		padding: 15px;
		position: relative;
		z-index: 10;
	}
}

.boiler{
	margin-bottom: 15px;
}

.turbine{
	background: $neutral-white;
	padding: 15px 25px;
}

.counter {
	.value{
		padding: 0;
	}
}