.inline.login{
	width: 30%;
}

#delete{
	float:right;
}

form {
	margin-top: 5px;
	.form-col-12{
		@include column(12);
		margin-left:0;
		margin-right: 0;

		input{
			width: 100%;
		}
	}
	.form-col-6{
		@include column(6);
		margin-left:0;
		margin-right: 0;
		&:not(:last-child){
			margin-right: 7px;
			margin-left: 7px;
		}

		&:first-child{
			margin-left: 0;
		}

		&:last-child{
			margin-right: 0;
		}

		&:only-child{
			margin-left: 0;
			margin-right: 7px;
		}

		input{
			width: 100%;
		}
	}

	.form-group{
		margin-bottom: 10px;
		text-align: left;
		color: $neutral-grey;
		label{
			font-size: 11px;
			text-transform: uppercase;
			font-weight: 600;
		}

		select{
			cursor: pointer;
			border: none;
			width: 100%;
			&:focus,&:active{
				border:none;
			}
		}
	}
	.form-group-default{
		background-color: $neutral-white;
		position: relative;
		border: 1px solid $table-border-color;
		border-radius: 2px;
		padding-top: 7px;
		padding-left: 12px;
		padding-right: 12px; 
		padding-bottom: 4px;
		overflow: hidden;
		
		@include transition(background-color, 0.2s, ease);

		&.focused{
			background-color: $table-stripe-bgcolor

			label{
				opacity: 0.6;
			}
		}

		&.disabled{
			background-color: $neutral-subtle-grey;
			label{
				opacity: 0.5;
			}
			input{
				opacity: 0.5;
			} 
		}

		&.required{
			&:after{
				color: #f55753;
				content: "*";
				font-family: arial;
				font-size: 20px;
				position: absolute;
				right: 15px;
				top: 9px;
			}
		}

		&.error{
			background-color: rgba(249, 197, 195, 1);
		}

		label{
			margin: 0;
			display: block;
			opacity: 1;
			@include transition(opacity, 0.2s, ease);
		}

		.form-control{
			border: none;
			height: 25px; 
			min-height: 25px;
			padding: 0;
			margin-top: -4px;
			background: none;
			width: 100%;
		}
	}
}


label{
	line-height: 20px;
	max-width: 100%;
	margin-bottom: 5px;
	display: inline-block;
}

label, input, button, select, textarea{
	font-size: 14px;
	font-weight: normal;
	line-height: 20px;
}


.form-control{
	width: 100%;
	display:table-cell;
	background-color: $neutral-white;
	background-image: none;
	border: 1px solid $neutral-subtle-grey;
	-webkit-appearance: none;
	color: $neutral-grey;
	outline: 0;
	height: 35px;
	padding: 9px 12px;
	line-height: normal;
	font-size: 14px;
	font-weight: normal;
	vertical-align: middle;
	min-height: 35px;
	-webkit-transition: all 0.12s ease;
	transition: all 0.12s ease;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-transition: background 0.2s linear 0s;
	transition: background 0.2s linear 0s;
}

.input-group-addon{
	min-width: calc(50px);
	background: $neutral-subtle-grey;
	padding: 10px 9px;
	display: table-cell;
	text-align:center;
	white-space: nowrap;
	vertical-align:middle;
	position: absolute;
	top:0;
	right:0;
}


form.form-horizontal{
	margin-bottom:0;
	.form-control{
		height: 45px;
		background-color: $true-white;
	}

	.select2-container--default .select2-selection--single{
		height: 45px;
	}

	.select2-container--default .select2-selection--single .select2-selection__rendered{
		line-height: 45px;
	}
	.select2-container--default .select2-selection--single .select2-selection__arrow{
		height: 43px;
	}
	.form-group{
		border-bottom: 1px solid $neutral-subtle-grey;
		padding-top: 19px;
		padding-bottom: 19px;
		margin-bottom: 0;
		
		.columns{
			position: relative;
		}

		.control-label{
			text-align: left;
			opacity: .42;
			transition: opacity ease 0.3s;
			padding-top: 7px;
			margin-bottom: 0;
		}

		&:hover,&:focus{
			.control-label{
				opacity: 1;		
			}
		}


	}


}