.newsfeed{

	.maintain-aspect{
		content: "";
		display: block;
		padding-top: 56.6%;
	}	

	.panel-background{
		background-size: cover;
		opacity: 0.85;
		height:100%;
		width:100%;
		top:0;
		left:0;
		position: absolute;
	}

	.panel .panel-header{
		position: absolute;
		top: 0;
		right: 0;
		z-index: 10;
	}

	.backdrop{
		background: url(/img/linear_gradient.png) repeat-x;
		h2,p.desc{
			color: $neutral-white;
		}
	}
}
