/* Tables */

table {
	padding: 1em 1.5em;
	display: table;
	border-collapse: collapse;
	border-spacing: 0;
	margin-bottom: 20px;
	width: 100%;

	caption {
		text-align: center;
		font-size: $larger;
		padding: .75em;
	}

	tbody tr{
		background-color: $true-white;
		padding: 5px 0;
		&:hover{
			background-color: $table-stripe-bgcolor;
		}
	}



	thead th{
		&.sortable{
			position: relative;
			a{
				color: lighten($body-font-color, 30);
				cursor: pointer;
				width: 100%;
				display: inline-table;
				&:hover{
					color: $body-font-color;
				}
			}
			&:after{
				position: absolute;
				right:15px;
				content: "\f0dc";
				font-family: 'FontAwesome';
				color: lighten($body-font-color, 30);
			}
		}

		&.sortable.ascending{
			a{
				color: $body-font-color;
			}
			&:after{
				content: "\f0de";
				font-family: 'FontAwesome';
				color: inherit;
			}
		}

		&.sortable.descending{
			a{
				color: $body-font-color;
			}
			&:after{
				content: "\f0dd";
				font-family: 'FontAwesome';
				color: inherit;
			}
		}
	}

	thead th,
	tbody td,
	tr td {
		display: table-cell;
		padding: 10px;
		vertical-align: top;
		text-align: left;
		border-bottom: $table-cell-border-size $table-cell-border-style $table-cell-border-color;
	}

	tr td, tbody tr td {
		font-size: $norm;
	}
	
	tr td:first-child {
		font-weight: $table-row-first-cell-font-weight;
	}

	thead {
		color: $body-font-color;

		tr th {
			font-size: $norm;
			font-weight: bold;
			vertical-align: bottom;
		}
	}

	&.striped tr:nth-of-type(even),
	table tr.stripe,
	table tr.striped {
		background-color: $table-stripe-bgcolor;
	}

	&.rounded {
		border-radius: $table-border-radius;
		border-collapse: separate;

		caption + thead tr:first-child th:first-child,
		caption + tr td:first-child,
		> thead tr:first-child th:first-child,
		> thead tr:first-child td:first-child,
		> tr:first-child td:first-child {
			border-top-left-radius: $table-border-radius;
		}

		caption + thead tr:first-child th:last-child,
		caption + tr td:last-child,
		> thead tr:first-child th:last-child,
		> thead tr:first-child td:last-child,
		> tr:first-child td:last-child {
			border-top-right-radius: $table-border-radius;
		}

		thead ~ tr:last-child td:last-child,
		tbody tr:last-child td:last-child {
			border-bottom-right-radius: $table-border-radius;
		}

		thead ~ tr:last-child td:first-child,
		tbody tr:last-child td:first-child {
			border-bottom-left-radius: $table-border-radius;
		}

		thead th, thead td,
		caption + tbody tr:first-child td,
		> tbody:first-child tr:first-child td {
			border-top: 0;
		}
	}
}
