// _vars

// UI Colors

$brand-color:				#6e429a;
$highlight:					#6e429a;
$secondary-highlight:		#823E77;
$secondary-brand-color:		#3B4986;
$neutral-white: 			#FAFAFA;
$true-white: 				#fff;
$neutral-subtle-grey: 		#EFE8E8;
$neutral-grey: 				#595959;
$dark-font:					#444444;

$brand-bg: 					#272B35;
$dark-ui: 					#788195;

// workbench settings
$topbar-height: 60px;

